{# app/Resources/views/Emails/registration.html.twig #}
<h3>Novo comentário!</h3>

Olá {{ login }},

Você recebeu um novo comentário do usuário {{ usuario }} na sua postagem {{ postagem }}.

Obrigado!!